html, body {
  margin: 0;
  padding: 0;
}

.askQuestion {
  background-color: black;
  color: #006730;
  font-size: 20px;
  height: 170px;
  text-align: center;
}

.info {
  align-items: center;
  background-color: white;
  display: flex;
  font-family: 'VT323', monospace;
  height: 400px;
  justify-content: center;
}

.info p {
  font-size: 30px;
}

.title {
  background-color: #2A292C;
  color: #E6E6E6;
  font-family: 'Exo', sans-serif;
  text-align: center;
}
.title h1 {
  margin: 0;
}
